
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("InstructorHead", "InstructorLayout")

<body class="fix-header fix-sidebar card-no-border">

    @Html.Action("PartialPreLoader", "AdminLayout")
    <div id="main-wrapper">
        @Html.Action("InstructorNavBar", "InstructorLayout")
        @Html.Action("InstructorSideBar", "InstructorLayout")
        <div class="page-wrapper">
            <div class="container-fluid">


                @RenderBody()

            </div>
            @Html.Action("PartialFooter", "AdminLayout")
        </div>
    </div>
    @Html.Action("PartialScript", "AdminLayout")
</body>
</html>