@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("HomeHead", "Home")
<body>
    @Html.Action("HomeSpinner", "Home")
    @Html.Action("HomeNavBar", "Home")
    @Html.Action("HomeSlider", "Home")
    @Html.Action("HomeFeature", "Home")
    @Html.Action("HomeAboutUs", "Home")
    @Html.Action("HomeCourseCategory", "Home")
    @Html.Action("HomePopularCourse", "Home")
    @Html.Action("HomeInstructor", "Home")
    @Html.Action("HomeTestimonial", "Home")
    @Html.Action("HomeFooter", "Home")
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    @Html.Action("HomeScript", "Home")
</body>
</html>