@using MyElearningProject.DAL.Entities
@model List<MyElearningProject.DAL.Entities.Process>


@{
    ViewBag.Title = "ListVideo";
    Layout = "~/Views/StudentLayout/Index.cshtml";

}

<div class="row page-titles" style="background-color:aliceblue">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">E-Learning Admin Paneli</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Öğrenci</a></li>
            <li class="breadcrumb-item">@ViewBag.Name</li>
            <li class="breadcrumb-item active">@ViewBag.Mail</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">

    </div>
</div>

<div class="card" style="text-align: center">
    <h2><B>VİDEO LİSTESİ</B></h2>
</div>

@if (Model != null && Model.Any())
{
    <div class="alert alert-success" role="alert">
        <b>
            Toplam <strong>@Model.Count()</strong> Video bulumaktadır.
        </b>
    </div>
}
else
{
    <div class="alert alert-warning">
        Kayıtlı Video Bulunmuyor!
    </div>
}




<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <table class="table table-bordered">

                    <tr>
                        <th style="background-color:lightgoldenrodyellow">Kurs Adı</th>
                        <th style="background-color:lightgoldenrodyellow">Eğitmen</th>
                        <th style="background-color: lightgoldenrodyellow">Eğitim Videosu</th>
                        <th style="background-color: lightgoldenrodyellow">Değerlendirme</th>



                    </tr>


                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.Course.Title</td>
                            <td><b>@item.Course.Instructor.Name @item.Course.Instructor.Surname </b></td>
                            <td><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/@item.Video.VideoUrl;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                            <td>
                                <a href="/Profile/Puanla/" class="btn btn-outline-success">Puanla</a>
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>


