@model List<MyElearningProject.DAL.Entities.HomeSlider>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int say = 0;
}

<div class="row page-titles"  style="background-color:aliceblue">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">E-Learning Admin Paneli</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Ana Sayfa</a></li>
            <li class="breadcrumb-item active">@ViewBag.breadcrumb</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">

    </div>
</div>


<div class="card" style="text-align: center">
    <h2><B>SLIDER LİSTESİ</B></h2>
</div>

@if (Model != null && Model.Any())
{
    <div class="alert alert-success" role="alert">
        <b>
            Toplam <strong>@Model.Count()</strong> Slider bulumaktadır.
        </b>
    </div>
}
else
{
<div class="alert alert-warning">
    Kayıtlı Slider Bulunmamaktadır !
</div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <table class="table table-bordered">

                    <tr>
                        <th>Sıra</th>
                        <th>Arkaplan Resim</th>
                        <th>Başlık</th>
                        <th>Slogan</th>
                        <th>Yorum</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        say++;
                        <tr>
                            <td>@say</td>
                            <td><img src="@item.ImageUrl" width="110" height="90"></td>
                            <td>@item.Title</td>
                            <td>@item.Slogan</td>
                            <td>@item.Comment</td>
                            <td><a href="/SliderAdmin/DeleteSliderAdmin/@item.SliderID" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/SliderAdmin/UpdateSliderAdmin/@item.SliderID" class="btn btn-outline-success">Güncelle</a>  </td>
                        </tr>
                    }

                </table>
                <a href="/SliderAdmin/AddSliderAdmin/" class="btn btn-outline-primary">Yeni Slider Girişi</a>

            </div>
        </div>
    </div>
</div>